body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.logo {
    pointer-events: none;
    width: 100%;
}

.logo img {
    height: 25vmin;
    width: 25vmin;
    margin: 15px auto;
}

.currency {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency .select {
    margin: 10px;
    padding: 10px 20px 10px 10px;
    border: 1px solid #dedede;
    font-size: 16px;
    background: transparent;
    background-position: right 10px top 50%, 0, 0;
    background-size: 12px auto, 100%;
    background-repeat: no-repeat;
}

.input {
    border: 0;
    background: transparent;
    font-size: 30px;
    text-align: right;
}

.btn {
    color: #fff;
    background: #8BC24A;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 12px;
}
.swap-rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate{
    color: #8BC24A;
    font-size: 14px;
    padding: 0 10px;
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}