body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

/* 


.currency {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency .select {
    margin: 10px;
    padding: 10px 20px 10px 10px;
    border: 3px solid #5fbaa7;
    font-size: 16px;
    background: transparent;
    background-position: right 10px top 50%, 0, 0;
    background-size: 12px auto, 100%;
    background-repeat: no-repeat;
}

.input {
    border: 0;
    background: transparent;
    font-size: 30px;
    text-align: right;
    border-bottom: 3px solid #5fbaa7;;
}

.btn {
    color: #fff;
    background: #5fbaa7;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 12px;
    margin: 10px;
}
.swap-rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate{
    color: #5fbaa7;
    font-size: 16px;
    padding: 0 10px;
}  */
